<!-- start custom head snippets -->
<link rel="apple-touch-icon" sizes="60x60" href="/assets/images/favicon/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/assets/images/favicon/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/assets/images/favicon/favicon-16x16.png">
<link rel="manifest" href="/assets/images/favicon/site.webmanifest">
<link rel="mask-icon" href="/assets/images/favicon/safari-pinned-tab.svg" color="#7a4b3e">
<meta name="msapplication-TileColor" content="#2d89ef">
<meta name="theme-color" content="#ffffff">
<meta name="description" content="Palmer Jones is an expert in all things Lord of the Rings. He has visited all of the filming locations and would be a great resource to consult on anything having to do with Lord of the Rings." />
<!-- jQuery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<!-- View STL Snippets -->
<script src="/assets/js/viewstl/stl_viewer.min.js"></script>
<script src="/assets/js/viewstl/init.js"></script>
<!-- end custom head snippets -->
